* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #2ecc71;
    /* verde */
    color: white;
    padding: 15px 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #d5ffd5;
    /* tom mais claro de verde */
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #2ecc71;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu a {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}


/* CSS footer */
footer.custom-footer {
    background-color: #2ecc71;
    color: white;
  }
  footer .social-icons a {
    color: white;
    font-size: 1.4rem;
    margin-right: 15px;
    transition: opacity 0.3s;
  }
  footer .social-icons a:hover {
    opacity: 0.8;
  }

  /* fixar footer em baixo  */
  html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-footer {
    margin-top: auto;
}

  /* Estilo para centralizar no mobile */
  @media (max-width: 576px) {
    footer .row > div {
      text-align: center;
    }
    footer .social-icons {
      justify-content: center;
    }
  }
